<html>

  <head>

    <title> Visualiser </title>
    <link rel="stylesheet" href="{{
				 url_for('static', filename='styles.css')
				 }}">

  </head>

  <body>

    <canvas id="gfx" height="400" width="400">
    </canvas>

    <script type="text/javascript" src="{{ url_for('static', filename='frontEndScript.js') }}"> </script>
    
    <form action='/userServer'>
      <label for="move"> Move: </label>
      <input type="number" name="move" min="0" max="8" step="1" value="0">
      <input type="submit" formmethod="post" value="Send Move">
    </form>
    <br>
     <form>
      <input type="button" id="ccw" onclick="rotate(-15)" value="rotate -15">
      <input type="button" id="cw" onclick="rotate(15)" value="rotate 15">
    </form>


    
    
  </body>
  
</html>
